<div class="cv-section">
{% for e in group.entries %}
  <div class="cv-section">
    {% assign groups = site.data.cv[include.key] | sort: "year" | reverse %}
    {% for group in groups %}
      <div class="cv-row">
        <div class="cv-year">{{ group.year }}</div>
          <div class="cv-details">
            {% for e in group.entries %}
              <div class="cv-item">
                {%- if e.title -%}<em>{{ e.title }}</em>{%- endif -%}
                {%- if e.venue -%}{% if e.title %}, {% endif %}{{ e.venue }}{%- endif -%}
                {%- if e.location -%}{% if e.title or e.venue %}, {% endif %}{{ e.location }}{%- endif -%}
                {%- if e.details -%} — {{ e.details }}{%- endif -%}
              </div>
            {% endfor %}
          </div>
      </div>
    {% endfor %}
  </div>
{% endfor %}
</div>
